{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table table-striped">
        {% for blog in blogs %}
        <tr>
            <td><a href="/blog/showBlog/{{blog.id}}/1">{{blog.user.username}}</a></td>
            <td>{{ blog.user.username }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.create_time }}</td>
            <td><a href="/blog/showBlog/{{blog.id}}/1">查看</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if page_no > 1 %}
    <a href="/list/{{ page_no - 1 }}">上一页</a>
    {% endif %}
    {% if page_no < total_page %}
    <a href="/list/{{ page_no + 1 }}">下一页</a>
    {% endif %}
</div>
{% endblock %}